.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}

.left-image,
.right-image {
  width: 65%;
}

.left-image img,
.right-image img {
  width: 100%;
  height: auto;

}
